<button class="btn-icon nav__btn nav__close-btn" data-event="closeButton" aria-label="{{_globals._extensions._close.closeButton}}" data-order="{{_globals._extensions._close._navOrder}}">
  <div class="icon"></div>
</button>
