{{! Maintainers - Tom Greenfield }}
<a href="#" class="close icon {{_iconTypeClass}} {{_layout}} naviation-core-item" data-event="close" title="{{tooltip}}">
	{{#if _showTooltip}}<span class="tooltip">{{tooltip}}</span>{{/if}}
</div>